In [3]:
#Importation des librairies
import pandas as pd
import mlxtend
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [4]:
# MINI Dataset

In [5]:
dataset = [['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],
           ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],
           ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],
           ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],
           ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']]

In [6]:
#Conversion de la liste en valeurs booléennes
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary,columns=te.columns_)
df

,Dress,Earrings,Hat,Heels,Necklace,Pants,Sandals,Scarf,Shirt,Skirt,Sneakers,Sunglasses
0,False,False,True,False,False,True,False,True,False,True,True,False
1,False,False,True,False,False,True,False,False,False,True,True,True
2,True,False,False,True,False,True,True,True,False,False,False,False
3,True,True,True,True,True,False,False,True,False,False,False,False
4,False,True,False,False,False,True,False,True,True,True,False,False

In [7]:
apriori(df)

   support itemsets
0      0.6      (2)
1      0.8      (5)
2      0.8      (7)
3      0.6      (9)
4      0.6   (5, 7)
5      0.6   (9, 5)

In [8]:
frequent_itemsets = apriori(df,min_support=0.1,use_colnames=True)
frequent_itemsets

     support                                        itemsets
0        0.4                                         (Dress)
1        0.4                                      (Earrings)
2        0.6                                           (Hat)
3        0.4                                         (Heels)
4        0.2                                      (Necklace)
..       ...                                             ...
146      0.2         (Hat, Necklace, Scarf, Heels, Earrings)
147      0.2          (Scarf, Skirt, Earrings, Shirt, Pants)
148      0.2            (Hat, Scarf, Sneakers, Skirt, Pants)
149      0.2       (Hat, Sneakers, Skirt, Sunglasses, Pants)
150      0.2  (Hat, Necklace, Scarf, Dress, Heels, Earrings)

[151 rows x 2 columns]

In [9]:
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Heels),(Dress),0.4,0.4,0.4,1.0,2.50,0.24,inf
1,(Dress),(Heels),0.4,0.4,0.4,1.0,2.50,0.24,inf
2,(Necklace),(Dress),0.2,0.4,0.2,1.0,2.50,0.12,inf
3,(Sandals),(Dress),0.2,0.4,0.2,1.0,2.50,0.12,inf
4,(Dress),(Scarf),0.4,0.8,0.4,1.0,1.25,0.08,inf
...,...,...,...,...,...,...,...,...,...
670,"(Necklace, Heels)","(Hat, Scarf, Dress, Earrings)",0.2,0.2,0.2,1.0,5.00,0.16,inf
671,"(Necklace, Earrings)","(Hat, Scarf, Dress, Heels)",0.2,0.2,0.2,1.0,5.00,0.16,inf
672,"(Earrings, Dress)","(Hat, Necklace, Scarf, Heels)",0.2,0.2,0.2,1.0,5.00,0.16,inf
673,"(Heels, Earrings)","(Hat, Necklace, Scarf, Dress)",0.2,0.2,0.2,1.0,5.00,0.16,inf
674,(Necklace),"(Hat, Scarf, Dress, Heels, Earrings)",0.2,0.2,0.2,1.0,5.00,0.16,inf

In [10]:
association_rules(frequent_itemsets,metric="lift",min_threshold=1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Earrings),(Dress),0.4,0.4,0.2,0.50,1.25,0.04,1.200000
1,(Dress),(Earrings),0.4,0.4,0.2,0.50,1.25,0.04,1.200000
2,(Heels),(Dress),0.4,0.4,0.4,1.00,2.50,0.24,inf
3,(Dress),(Heels),0.4,0.4,0.4,1.00,2.50,0.24,inf
4,(Necklace),(Dress),0.2,0.4,0.2,1.00,2.50,0.12,inf
...,...,...,...,...,...,...,...,...,...
1135,(Necklace),"(Hat, Scarf, Dress, Heels, Earrings)",0.2,0.2,0.2,1.00,5.00,0.16,inf
1136,(Scarf),"(Hat, Necklace, Dress, Heels, Earrings)",0.8,0.2,0.2,0.25,1.25,0.04,1.066667
1137,(Dress),"(Hat, Necklace, Scarf, Heels, Earrings)",0.4,0.2,0.2,0.50,2.50,0.12,1.600000
1138,(Heels),"(Hat, Necklace, Scarf, Dress, Earrings)",0.4,0.2,0.2,0.50,2.50,0.12,1.600000
1139,(Earrings),"(Hat, Necklace, Scarf, Dress, Heels)",0.4,0.2,0.2,0.50,2.50,0.12,1.600000

In [11]:
#GRAND Dataset

In [13]:
#Importation du Dataset
data_MBO=pd.read_csv('Market_Basket_Optimisation.csv',header=None)
data_MBO.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Market_Basket_Optimisation.csv'

In [14]:
#Visualisation des fréquences d'achat des articles 
plt.figure(figsize=(25,10))
graph1 = data_MBO[0].value_counts()
sns.displot(graph1)
#plt.xticks(rotation=50)
plt.title("Fréquence d'achat des articles")
plt.show()

NameError: name 'data_MBO' is not defined

In [15]:
#Visualisation des 20 articles achetés le plus fréquemment
plt.figure(figsize=(25,14))
graph2 = data_MBO[0].value_counts().head(20)
graph2.plot.bar()
plt.xticks(rotation = 45)
plt.title("Les 20 articles le plus acheté")
plt.show()

NameError: name 'data_MBO' is not defined

In [16]:
#Transformation du dataset en tableau numpy
items_list = []
for i in range(data_MBO.shape[0]):
    items_list.append([str(data_MBO.values[i,j]) for j in range(data_MBO.shape[1])])
    
tab_numpy = np.array(items_list)
tab_numpy.shape

NameError: name 'data_MBO' is not defined

In [17]:
#Conversion de la liste en valeurs booléennes
te = TransactionEncoder()
df = te.fit_transform(tab_numpy)
df = pd.DataFrame(df,columns=te.columns_)
df.head()

NameError: name 'tab_numpy' is not defined

In [18]:
frequent_itemsets = apriori(df,min_support=0.01,use_colnames=True)
frequent_itemsets

     support                                        itemsets
0        0.4                                         (Dress)
1        0.4                                      (Earrings)
2        0.6                                           (Hat)
3        0.4                                         (Heels)
4        0.2                                      (Necklace)
..       ...                                             ...
146      0.2         (Hat, Necklace, Scarf, Heels, Earrings)
147      0.2          (Scarf, Skirt, Earrings, Shirt, Pants)
148      0.2            (Hat, Scarf, Sneakers, Skirt, Pants)
149      0.2       (Hat, Sneakers, Skirt, Sunglasses, Pants)
150      0.2  (Hat, Necklace, Scarf, Dress, Heels, Earrings)

[151 rows x 2 columns]

In [19]:
association_rules(frequent_itemsets,metric='confidence',min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Heels),(Dress),0.4,0.4,0.4,1.0,2.50,0.24,inf
1,(Dress),(Heels),0.4,0.4,0.4,1.0,2.50,0.24,inf
2,(Necklace),(Dress),0.2,0.4,0.2,1.0,2.50,0.12,inf
3,(Sandals),(Dress),0.2,0.4,0.2,1.0,2.50,0.12,inf
4,(Dress),(Scarf),0.4,0.8,0.4,1.0,1.25,0.08,inf
...,...,...,...,...,...,...,...,...,...
670,"(Necklace, Heels)","(Hat, Scarf, Dress, Earrings)",0.2,0.2,0.2,1.0,5.00,0.16,inf
671,"(Necklace, Earrings)","(Hat, Scarf, Dress, Heels)",0.2,0.2,0.2,1.0,5.00,0.16,inf
672,"(Earrings, Dress)","(Hat, Necklace, Scarf, Heels)",0.2,0.2,0.2,1.0,5.00,0.16,inf
673,"(Heels, Earrings)","(Hat, Necklace, Scarf, Dress)",0.2,0.2,0.2,1.0,5.00,0.16,inf
674,(Necklace),"(Hat, Scarf, Dress, Heels, Earrings)",0.2,0.2,0.2,1.0,5.00,0.16,inf

In [20]:
association_rules(frequent_itemsets,metric= "lift",min_threshold = 1)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Earrings),(Dress),0.4,0.4,0.2,0.50,1.25,0.04,1.200000
1,(Dress),(Earrings),0.4,0.4,0.2,0.50,1.25,0.04,1.200000
2,(Heels),(Dress),0.4,0.4,0.4,1.00,2.50,0.24,inf
3,(Dress),(Heels),0.4,0.4,0.4,1.00,2.50,0.24,inf
4,(Necklace),(Dress),0.2,0.4,0.2,1.00,2.50,0.12,inf
...,...,...,...,...,...,...,...,...,...
1135,(Necklace),"(Hat, Scarf, Dress, Heels, Earrings)",0.2,0.2,0.2,1.00,5.00,0.16,inf
1136,(Scarf),"(Hat, Necklace, Dress, Heels, Earrings)",0.8,0.2,0.2,0.25,1.25,0.04,1.066667
1137,(Dress),"(Hat, Necklace, Scarf, Heels, Earrings)",0.4,0.2,0.2,0.50,2.50,0.12,1.600000
1138,(Heels),"(Hat, Necklace, Scarf, Dress, Earrings)",0.4,0.2,0.2,0.50,2.50,0.12,1.600000
1139,(Earrings),"(Hat, Necklace, Scarf, Dress, Heels)",0.4,0.2,0.2,0.50,2.50,0.12,1.600000